{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if active_listings %}
        <div class="col p-5">
            {% for listing in active_listings %}
                <div class="p-4 my-3 row border">
                    {% if listing.image_url %}
                    <div class="col text-center">
                        <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
                    </div>
                    {% endif %}
                    <div class="col-8">
                        <h3><a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a></h3>
                        <p>{{ listing.description }}</p>
                        <p>Current Price: ${{ listing.current_price }}</p>
                        <p>Starting Bid: ${{ listing.starting_bid }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No active listings available.</p>
    {% endif %}
{% endblock %}